@charset "UTF-8";

body,
html {
	margin: 0;
	padding: 0;
}

#b_531543 {
	background-color: transparent;
	border: 0;
	box-sizing: border-box;
	cursor: default;
	display: block;
	height: 250px;
	overflow: hidden;
	position: relative;
	width: 970px;
	z-index: 1;
}

#b_border {
	box-sizing: border-box;
	border: 1px solid black;
	width: 970px;
	height: 250px;
	display: block;
	z-index: 9999;
	position: absolute;
}

#b_531543 div {
	position: absolute;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#b_531543 img {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	padding: 0;
	margin: 0;
}

#el_I5315435241436 {
	top: 0px;
	left: 0px;
	z-index: 1;
	mix-blend-mode: normal;
}

#img_I5315435241436 {
	width: 970px;
	height: 250px;
}

#el_I5315435231411 {
	top: 243px;
	left: 0px;
	z-index: 2;
	mix-blend-mode: normal;
}

#img_I5315435231411 {
	width: 970px;
	height: 7px;
}

#el_I53154352314125114002 {
	top: 22px;
	left: 680.5px;
	z-index: 3;
	mix-blend-mode: normal;
}

#img_I53154352314125114002 {
	width: 130px;
	height: 24px;
}

#el_I531543523141251139995112213 {
	top: 53px;
	left: 671.4013671875px;
	z-index: 4;
	mix-blend-mode: normal;
}

#img_I531543523141251139995112213 {
	width: 149px;
	height: 36px;
}

#el_I531543523141251139995112214 {
	top: 108.96002197265625px;
	left: 643.253662109375px;
	z-index: 5;
	mix-blend-mode: normal;
}

#img_I531543523141251139995112214 {
	width: 204px;
	height: 52px;
}

#el_I5315435231413 {
	top: 20px;
	left: 20px;
	z-index: 6;
	mix-blend-mode: normal;
}

#img_I5315435231413 {
	width: 79px;
	height: 79px;
}

#el_I5315435231414 {
	top: 178px;
	left: 665px;
	z-index: 7;
	mix-blend-mode: normal;
}

#img_I5315435231414 {
	width: 160px;
	height: 43px;
}
