@charset "UTF-8";

body,
html {
	margin: 0;
	padding: 0;
}

#b_531513 {
	background-color: transparent;
	border: 0;
	box-sizing: border-box;
	cursor: default;
	display: block;
	height: 600px;
	overflow: hidden;
	position: relative;
	width: 300px;
	z-index: 1;
}

#b_border {
	box-sizing: border-box;
	border: 1px solid black;
	width: 300px;
	height: 600px;
	display: block;
	z-index: 9999;
	position: absolute;
}

#b_531513 div {
	position: absolute;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#b_531513 img {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	padding: 0;
	margin: 0;
}

#el_I5315135222231 {
	top: 0px;
	left: 0px;
	z-index: 1;
	mix-blend-mode: normal;
}

#img_I5315135222231 {
	width: 300px;
	height: 600px;
}

#el_I5315135192089 {
	top: 593px;
	left: 0px;
	z-index: 2;
	mix-blend-mode: normal;
}

#img_I5315135192089 {
	width: 300px;
	height: 7px;
}

#el_I53151351920915114002 {
	top: 359.5px;
	left: 95px;
	z-index: 3;
	mix-blend-mode: normal;
}

#img_I53151351920915114002 {
	width: 110px;
	height: 21px;
}

#el_I531513519209151139995112213 {
	top: 386.5999755859375px;
	left: 95.5369873046875px;
	z-index: 4;
	mix-blend-mode: normal;
}

#img_I531513519209151139995112213 {
	width: 111px;
	height: 27px;
}

#el_I531513519209151139995112214 {
	top: 434.29998779296875px;
	left: 65.2113037109375px;
	z-index: 5;
	mix-blend-mode: normal;
}

#img_I531513519209151139995112214 {
	width: 170px;
	height: 43px;
}

#el_I5315135222178 {
	top: 20px;
	left: 107px;
	z-index: 6;
	mix-blend-mode: normal;
}

#img_I5315135222178 {
	width: 85px;
	height: 85px;
}

#el_I5315135222206 {
	top: 523px;
	left: 77px;
	z-index: 7;
	mix-blend-mode: normal;
}

#img_I5315135222206 {
	width: 146px;
	height: 38px;
}
